//- index.jade
extends ./layout.jade

block content
  div.container-fluid(ng-controller='StatsCtrl')
    div.row(ng-cloak)
      div.col-xs-2.stat-holder
        div.big-info.bestblock.text-info
          div.pull-left.icon-full-width
            i.icon-block
          div.big-details-holder
            span.small-title 最新区块
            span.big-details {{'#'}}{{ bestBlock | number}}
          div.clearfix
      div.col-xs-2.stat-holder
        div.big-info.uncleCount.text-info
          div.pull-left.icon-full-width
            i.icon-uncle
          div.big-details-holder
            span.small-title 叔伯块
              span.small (当前/最后50个)
            span.big-details {{ bestStats.block.uncles.length }}/{{ uncleCount }}
          div.clearfix
      div.col-xs-2.stat-holder
        div.big-info.blocktime(class="{{ lastBlock | timeClass : true }}")
          div.pull-left.icon-full-width
            i.icon-time
          div.big-details-holder
            span.small-title 上个区块
            span.big-details {{ lastBlock | blockTimeFilter }}
            //- span.big-details(time-ago="lastBlock")
          div.clearfix
      div.col-xs-2.stat-holder
        div.big-info.avgblocktime(class="{{ avgBlockTime | avgTimeClass }}")
          div.pull-left.icon-full-width
            i.icon-gas
          div.big-details-holder
            span.small-title 平均区块时间
            span.big-details {{ avgBlockTime | avgTimeFilter }}
          div.clearfix
      div.col-xs-2.stat-holder
        div.big-info.difficulty.text-orange
          div.pull-left.icon-full-width
            i.icon-hashrate
          div.big-details-holder
            span.small-title 平均网络哈希速率
            span.big-details(ng-bind-html="avgHashrate | networkHashrateFilter")
          div.clearfix
      div.col-xs-2.stat-holder
        div.big-info.difficulty.text-danger
          div.pull-left.icon-full-width
            i.icon-difficulty
          div.big-details-holder
            span.small-title 难度
            span.big-details
              span.small-hash {{ lastDifficulty | totalDifficultyFilter }}
          div.clearfix

      div.clearfix


    div.row(ng-cloak)
      div.col-xs-12.stats-boxes(style="padding-top: 0px;")
        div.row.second-row
          div.col-xs-2.stat-holder.box
            div.active-nodes(class="{{ nodesActive | nodesActiveClass : nodesTotal }}")
              i.icon-node
              span.small-title 活跃节点
              span.small-value {{nodesActive}}/{{nodesTotal}}
          div.col-xs-2.stat-holder.box
            div.gasprice.text-info
              i.icon-gasprice
              span.small-title 燃料价格
              span.small-value {{ bestStats.gasPrice.toString() | gasPriceFilter }}
          div.col-xs-2.stat-holder.box
            div.gasprice.text-info
              i.icon-gasprice
              span.small-title 燃料上限
              span.small-value {{ bestStats.block.gasLimit }} gas
          div.col-xs-2.stat-holder.box
            div.page-latency(class="{{ {active: true, latency: latency} | latencyClass }}")
              i.icon-clock
              span.small-title 页面延迟
              span.small-value {{latency}} ms
          div.col-xs-2.stat-holder.box
            div.uptime(class="{{ upTimeTotal | upTimeClass : true }}")
              i.icon-bulb
              span.small-title 上线时间
              span.small-value {{ upTimeTotal | upTimeFilter }}
          div.col-xs-2.stat-holder.box

        div.row
          div.col-xs-8
            div.row
              div.col-xs-3.stat-holder
                div.big-info.chart(class="{{ avgBlockTime | avgTimeClass }}")
                  //- i.icon-time
                  span.small-title 区块时间
                  //- span.small-value {{ avgBlockTime | avgTimeFilter }}
                  sparkchart.big-details.spark-blocktimes(data="{{lastBlocksTime.join(',')}}", tooltipsuffix="s")

              div.col-xs-3.stat-holder
                div.big-info.chart.text-info
                  //- i.icon-difficulty
                  span.small-title 难度
                  //- span.small-value {{ lastDifficulty | number }}
                  sparkchart.big-details.spark-difficulty(data="{{difficultyChart.join(',')}}")

              div.col-xs-3.stat-holder.xpull-right
                div.big-info.chart.xdouble-chart(class="{{ blockPropagationAvg | propagationAvgTimeClass : true }}")
                  //- i.icon-gas
                  span.small-title 区块传播
                  //- span.small-value {{ blockPropagationAvg | blockPropagationFilter : '' }}
                  histogram.big-details.d3-blockpropagation(data="blockPropagationChart")

              div.col-xs-3.stat-holder.xpull-right
                div.big-info.chart.xdouble-chart
                  span.small-title 上个区块矿工
                  div.blocks-holder(ng-repeat='miner in miners track by miner.miner', data-toggle="tooltip", data-placement="right", data-original-title="{{miner.blocks}}")
                    div.block-count(class="{{miner.blocks | minerBlocksClass : 'text-'}}") {{miner.blocks}}
                    //- div.small-title-miner {{miner.miner | minerNameFilter : miner.name}}
                    div.small-title-miner {{miner.miner}}
                    minerblock(blocks="{{miner.blocks}}")
                    div.clearfix

              div.col-xs-3.stat-holder
                div.big-info.chart.text-info
                  //- i.icon-uncle
                  span.small-title 叔伯块数量
                    span.small (25 块/条)
                  //- span.small-value {{ bestStats.block.uncles.length }}/{{ uncleCount }}
                  sparkchart.big-details.spark-uncles(data="{{uncleCountChart.join(',')}}")

              div.col-xs-3.stat-holder
                div.big-info.chart.text-info
                  //- i.icon-uncle
                  span.small-title 交易笔数
                  sparkchart.big-details.spark-transactions(data="{{transactionDensity.join(',')}}")

              div.col-xs-3.stat-holder
                div.big-info.chart.text-info
                  //- i.icon-gasprice
                  span.small-title 燃料花费
                  sparkchart.big-details.spark-gasspending(data="{{gasSpending.join(',')}}")

              div.col-xs-3.stat-holder
                div.big-info.chart.text-info
                  //- i.icon-difficulty
                  span.small-title 燃料上限
                  //- span.small-value {{ lastDifficulty | number }}
                  sparkchart.big-details.spark-difficulty(data="{{lastGasLimit.join(',')}}")



          div.col-xs-4.stat-holder.map-holder
            //- div.col-xs-12
            nodemap#mapHolder(data="map")

    div.row
      div.col-xs-12.stats-boxes
        div.row.second-row
          div.col-xs-12.stat-holder.box
            div.active-nodes.text-warning
              i.icon-warning-o
              span.small-title 注意！
              span.small-value 此页面节点不代表Xping网络所有节点，在这个页面显示节点是自愿行为。有意参与本网络星火节点计划，请联系平台管理人员。
          //- div.col-xs-12.stat-holder.box
          //-   div.active-nodes.text-danger
          //-     i.icon-hashrate
          //-     span.small-title SECURITY ALERT
          //-     span.small-value
          //-       a(href="https://blog.ethereum.org/2015/09/10/security-alert-previous-security-patch-can-lead-to-invalid-state-root-on-go-clients-with-a-specific-transaction-sequence-fixed-please-update/", target="_blank", class="text-danger") Read the blog post


      //- div.clearfix

    div.row(ng-cloak, style="padding-top: 10px")
      table.table.table-striped
        thead
          tr.text-info
            th.th-nodecheck
              i.icon-check-o(data-toggle="tooltip", data-placement="top", title="固定优先显示的节点", ng-click="orderTable(['-stats.block.number', 'stats.block.propagation'], false)")
            th.th-nodename
              i.icon-node(data-toggle="tooltip", data-placement="top", title="节点名称", ng-click="orderTable(['info.name'], false)")
            th.th-nodetype
              i.icon-laptop(data-toggle="tooltip", data-placement="top", title="节点类型", ng-click="orderTable(['info.node'], false)")
            th.th-latency
              i.icon-clock(data-toggle="tooltip", data-placement="top", title="节点延迟", ng-click="orderTable(['stats.latency'], false)")
            th
              i.icon-mining(data-toggle="tooltip", data-placement="top", title="是否挖矿", ng-click="orderTable(['-stats.hashrate'], false)")
            th
              i.icon-group(data-toggle="tooltip", data-placement="top", title="关联节点数", ng-click="orderTable(['-stats.peers'], false)")
            th
              i.icon-network(data-toggle="tooltip", data-placement="top", title="待处理交易数", ng-click="orderTable(['-stats.pending'], false)")
            th
              i.icon-block(data-toggle="tooltip", data-placement="top", title="上个区块", ng-click="orderTable(['-stats.block.number', 'stats.block.propagation'], false)")
            th.th-blockhash &nbsp;
            th.th-blockhash
              i.icon-difficulty(data-toggle="tooltip", data-placement="top", title="总难度", ng-click="orderTable(['-stats.block.totalDifficulty'], false)")
            th
              i.icon-check-o(data-toggle="tooltip", data-placement="top", title="区块中交易数量", ng-click="orderTable(['-stats.block.transactions.length'], false)")
            th
              i.icon-uncle(data-toggle="tooltip", data-placement="top", title="叔伯块数", ng-click="orderTable(['-stats.block.uncles.length'], false)")
            th.th-blocktime
              i.icon-time(data-toggle="tooltip", data-placement="top", title="上个区块时间", ng-click="orderTable(['-stats.block.received'], false)")
            th.th-peerPropagationTime
              i.icon-gas(data-toggle="tooltip", data-placement="top", title="传播时间", ng-click="orderTable(['-stats.block.number', 'stats.block.propagation'], false)")
            th.th-peerPropagationChart
            th.th-peerPropagationAvg
              i.icon-gas(data-toggle="tooltip", data-placement="top", title="平均传播时间", ng-click="orderTable(['stats.propagationAvg'], false)")
            th
              i.icon-bulb(data-toggle="tooltip", data-placement="top", title="上线时间", ng-click="orderTable(['-stats.uptime'], false)")
        tbody(ng-cloak)
          tr(ng-repeat='node in nodes | orderBy:predicate track by node.id', class="{{ node.stats | mainClass : bestBlock }}", id="node_{{node.id}}")
            td.td-nodecheck
              i(ng-click="pinNode(node.id)", class="{{ node.pinned | nodePinClass }}", data-toggle="tooltip", data-placement="right", data-original-title="点击{{ node.pinned ? '取消' : '' }}固定")
            td.nodeInfo(rel="{{node.id}}")
              span.small(data-toggle="tooltip", data-placement="top", data-html="true", data-original-title="{{node | geoTooltip}}") {{node.info.name}}
              //- span.small &nbsp;({{node.info.ip}})
              a.small(href="https://github.com/ethereum/wiki/wiki/Network-Status#updating", target="_blank", data-toggle="tooltip", data-placement="top", data-html="true", data-original-title="Netstats客户端需要更新。<br>单击此图标获取说明。", class="{{ node.info | nodeClientClass : currentApiVersion }}")
                i.icon-warning-o
            td
              div.small(ng-bind-html="node.info.node | nodeVersion")
            td(class="{{ node.readable.latencyClass }}")
              span.small {{ node.readable.latency }}
            td(class="{{ node.stats.mining | hashrateClass : node.stats.active }}", ng-bind-html="node.stats.hashrate | hashrateFilter : node.stats.mining")
            td(class="{{ node.stats.peers | peerClass : node.stats.active }}", style="padding-left: 11px;") {{node.stats.peers}}
            td(style="padding-left: 15px;") {{node.stats.pending}}
            td(class="{{ node.stats | blockClass : bestBlock }}")
              span(class="{{ node.readable.forkMessage ? node.readable.forkClass : '' }}") {{'#'}}{{ node.stats.block.number | number }}
              //- a.small(data-toggle="tooltip", data-placement="top", data-html="true", data-original-title="{{ node.readable.forkMessage }}", class="{{ node.readable.forkClass }}")
                i.icon-warning-o
            td(class="{{ node.stats | blockClass : bestBlock }}")
              span.small {{node.stats.block.hash | hashFilter}}
            td(class="{{ node.stats | blockClass : bestBlock }}")
              span.small {{node.stats.block.totalDifficulty | number}}
            td(style="padding-left: 14px;") {{node.stats.block.transactions.length || 0}}
            td(style="padding-left: 14px;") {{node.stats.block.uncles.length || 0}}
            td(class="{{ node.stats.block.received | timeClass : node.stats.active }}") {{node.stats.block.received | blockTimeFilter }}
            td(class="{{ node.stats | propagationTimeClass : bestBlock }}")
              div.propagationBox
              span {{node.stats.block.propagation | blockPropagationFilter}}
            td.peerPropagationChart(class="{{node.id}}")
              nodepropagchart(data="{{node.history.join(',')}}")
            td(class="{{ node.stats | propagationNodeAvgTimeClass : bestBlock }}") {{ node.stats | blockPropagationAvgFilter : bestBlock }}
            td(class="{{ node.stats.uptime | upTimeClass : node.stats.active }}") {{ node.stats.uptime | upTimeFilter }}
